.container {
  display: grid;
  grid-template-areas: "tabs panel panel panel panel" "highlights highlights highlights highlights highlights";
  column-gap: calc(var(--spacing) * 6);
  row-gap: calc(var(--spacing) * 6);
  grid-template-columns: 0.4fr 1fr;

  @media (width <= 48rem) {
    grid-template-areas: "tabs" "panel" "highlights";
  }

  @media (width <= 24.375rem) {
    row-gap: calc(var(--spacing) * 4);
  }

  & .tabs {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: calc(var(--spacing) * 3);
    row-gap: calc(var(--spacing) * 3);
    grid-area: tabs;
    align-self: flex-start;
  }

  & .panel {
    grid-area: panel;
    max-width: var(--container-width);

    & pre {
      max-height: 21.75rem;
    }
  }

  & [data-path] {
    transition:
      translate 250ms linear,
      opacity 250ms linear,
      display 250ms linear allow-discrete;

    @starting-style {
      opacity: 0;
      translate: 0 0.5rem;
    }
  }

  & .highlights {
    grid-area: highlights;
    transition-delay: 150ms;
  }
}
