@import "tailwindcss";

:root {
  --color-accent-teal: oklch(0.7845 0.1325 181.91);
  --color-accent-green: oklch(0.7729 0.1535 163.22);
  --color-accent-blue: oklch(0.7137 0.1434 254.62);
  --color-accent-violet: oklch(0.709 0.1592 293.54);
  --color-accent-pink: oklch(0.7253 0.1752 349.76);
  --color-accent-amber: oklch(0.8369 0.1644 84.43);

  --color-surface: oklch(0.1861 0.0201 261.97);
  --color-line: oklch(0.274 0.0297 256.85);

  --color-bg-alt: oklch(0.1637 0.0182 263.88);
  --color-bg-deep: oklch(0.1404 0.0138 268.45);
  --color-bg-surface: linear-gradient(
    to bottom,
    var(--color-surface) 0%,
    var(--color-bg-deep) 62%
  );

  --color-text-muted: oklch(0.5209 0.0388 259.37);
  --color-text-primary: oklch(0.9446 0.012 259.82);
  --color-text-secondary: oklch(0.7053 0.036 259.41);

  /* Currently only one theme, could use media prefers-color-scheme or light-dark */
  --background: var(--color-bg-deep);
  --foreground: var(--color-text-primary);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100dvh;
  width: 100dvw;
  overflow-y: auto;
}

main {
  --gap: clamp(1rem, 6vw, 3rem);
  --full: minmax(var(--gap), 1fr);
  --content: min(50ch, 100% - var(--gap) * 2);
  --popout: minmax(0, 2rem);
  --feature: minmax(0, 5rem);

  display: grid;
  grid-template-columns: [full-start] var(--full) [full-end];
  align-items: center;

  & > * {
    grid-column: full;
  }
}
